* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #373b44, #4286f4);
}

.container {
    margin-top: 100px;
    margin-left: 10%;
    color: #fff;
}

button {
    color: #fff;
}

input.add {
    color: #fff;
}
